.nav {
  background-color: rgba(0, 60, 255, 0.897);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;

  padding: 5px;
}

.nav-title {
  padding: 10px;
  color: whitesmoke;
}

.nav-row {
  display: flex;
  flex-direction: row;
  /*flex: wrap;*/
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}

.nav-column {
  padding: 5px;
}
