.post-card {
  width: 40%;
  white-space: pre-line;
}

.general-padding {
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.title {
  padding: 10px;
  text-align: center;
}

.padding-10 {
  padding: 10px;
}

.padding-30 {
  padding: 30px;
}

.text-right {
  text-align: right;
}
